@model List<WebApplicationJay2.Models.Share>

@{
    ViewBag.Title = "Actu";
}

<h2>Actu</h2>

<div>
    @using (Html.BeginForm("Actu", "Home"))
    {
        
        @Html.TextArea("text", "", new { @type = "text", })
       
        <br /><br />
        <input type="submit" value="publier" />
        
    }

</div>

<div>
    <h1>Mes Shares</h1>

    <ul>
        @foreach(var sh in Model)
        {
            <li>@sh.Texte</li>
        }
    </ul>
</div>

