@{
    ViewBag.Title = "Mon espace";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>me contacter par mail</strong>   <p style="color: blue">ethanjaypro8@gmail.com</p><br />
</address>