@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron" style="background-image: url('../../Images/bonjour.jpg');background-size: cover">
        <h1 style="        font-weight: bold; text-align: center; line-height: 60px; color: black">"JAYSHARE LA NOUVELLE GENERATION"</h1>
        <p><a href="https://localhost:44311/Home/Actu" class="btn btn-primary btn-lg">Clique ici pour faire un Share &raquo;</a></p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color: rebeccapurple">Qu'es-ce-que JAYSHARE</h2>
        <p>
            JAYSHARE est un nouveau réseau social pour crée des "SHARES". Il vous permettra de pouvoir partager les informations que vous voulez au gens qui vous suives ou autres
        </p>
        <p><a class="btn btn-default" href="https://localhost:44311/Account/Creer">creer ton compte &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color: rebeccapurple">Comment ça marche</h2>
        <p>Dans l'onglet SharesTimes, vous allez pouvoir crée des posts pour vos amis et d'autres personnes, vous pourrez y mettre ce que vous voulez</p>
        <p><a class="btn btn-default" href="https://localhost:44311/Home/Actu">Essaye ici &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color: rebeccapurple">Avis</h2>
        <p>N'hésiter pas avant de commence, par faire un Share pour me dire ce que vous pensez du site.</p>
        <p><a class="btn btn-default" href="https://localhost:44311/Home/Actu">Vas-y &raquo;</a></p>
    </div>
</div>